{% extends 'home_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_complaint_post/#about">
{% csrf_token %}
  <table class="px pull-left">
    <tr>
      <th>From Date</th>
      <td>
      <input type="date" class="form-control" required name="textfield" id="textfield" /></td>
      <th>To Date</th>
      <td>
      <input type="date" name="textfield2" required class="form-control" id="textfield2" /></td>
      <td><input type="submit" class="btn btn-success" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Sl.No</th>
      <th>Date</th>
              <th>UserInfo</th>
      <th>Complaint</th>
{#      <th>Restorant</th>#}
{#      <th>Proof</th>#}
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
          <td>{{ i.USER.name }}</td>

      <td>{{ i.complaint }}</td>
{#      <td>{{ i.RESTAURANT.name }}</td>#}
{#      <td><img src="{{ i.proof }}" height="80px" width="80px"> </td>#}
      <td>{% if i.status == "pending" %}<a href="/myapp/adm_send_reply/{{ i.id }}#about" class="btn btn-primary" >Reply</a>{% else %}{{ i.reply }}{% endif %}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}