{% extends 'home_index.html' %}
{% block body %}

<body>
<form action="/myapp/adm_view_users_post/#about" method="post">
{% csrf_token %}
    <table class="px fa-pull-left">
  <tr>
    <td><input type="text" class="form-control" required placeholder="Search by name.." name="textfield" id="textfield" /></td>
    <td><input type="submit" class="btn btn-success" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tr>
    <td>S/no</td>
    <td>name</td>
    <td>dob</td>
    <td>gender</td>
    <td>email</td>
    <td>Phone</td>
    <td>Address</td>
  
  </tr>
    {% for i in data %}
  <tr>
   
    <td>{{ forloop.counter }}</td>
    <td><center><img src="{{ i.photo }}" height="80px" width="80px"><br>{{ i.name }}</center></td>
    <td>{{ i.dob }}</td>
    <td>{{ i.gender }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.place }}<br>{{ i.pin }}<br>{{ i.district }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}